/* sora google font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
    --color-1: #FFEB5E;
    --color-2: #6FB8AC;
    --color-3: #D36268;
    --modal-duration: 1s;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    background-color: var(--color-1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 4px solid var(--color-3);
    border-radius: 5px;
    width: 80vw;
    max-width: 900px;
    padding: 1.5rem 0;
    text-align: center;
}

.title > h3 {
    font-size: 3rem;
}

.title > p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-2);
    min-width: 100%;
    margin: 1rem 0;
}

.player, .computer {
    min-width: calc(100% / 2);
    padding: 0.75rem 0;
    font-size: 1.2rem;
}

.computer {
    background-color: var(--color-3);
}

.choice-title {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.choice-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0 3rem;
}

.choice-box > * {
    color: var(--color-3);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.choice-box h4 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

.choice-box i:hover {
    color: var(--color-2);
}

.choice-box h4:hover {
    text-decoration: underline;
}

.result {
    white-space: pre;
}


.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    min-width: 100vw;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: #fff;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-content i {
    color: var(--color-2);
}

.modal-result {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--color-3);
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}